
.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px;
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-auto-columns: 200px;
 
 }
 .blnum1{
   display: subgrid;
   background-color: rgb(235, 143, 6);
   grid-auto-flow: row;
 }
   .blnum1{
      background-color: darkgoldenrod;
      height: 200px;
      
   }
   .blnum11{
      background-color: rgb(175, 71, 71);
      height: 200px;
      
}
 .blnum2{
   background-color: rgb(131, 89, 89);
   height: 200px;
   display: subgrid; 
   grid-row-start: 3;
   grid-column-start: 6;
 }
 